<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>SubscriberTests.Edit_SubscriberTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>c_View_Subscriber_Previous_Address_History</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>b_Edit_CustomerAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>d_View_Subscriber_History</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>a_Click_Edit_Subscriber</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Start</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>stop</td>
<td>&nbsp;</td></tr>
</table>
