<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c386c8">  <td>19/09/04 14:03:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Edit_SubscriberTests.Start()[pri:0, instance:SubscriberTests.Edit_SubscriberTests@7714e963]">&gt;&gt;Start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>19/09/04 14:04:23</td>   <td>42297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Edit_SubscriberTests.a_Click_Edit_Subscriber()[pri:0, instance:SubscriberTests.Edit_SubscriberTests@7714e963]">a_Click_Edit_Subscriber</td> 
  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>19/09/04 14:04:28</td>   <td>46649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Edit_SubscriberTests.b_Edit_CustomerAddress()[pri:0, instance:SubscriberTests.Edit_SubscriberTests@7714e963]">b_Edit_CustomerAddress</td> 
  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>19/09/04 14:04:32</td>   <td>50653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Edit_SubscriberTests.c_View_Subscriber_Previous_Address_History()[pri:0, instance:SubscriberTests.Edit_SubscriberTests@7714e963]">c_View_Subscriber_Previous_Address_History</td> 
  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>19/09/04 14:04:33</td>   <td>51719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Edit_SubscriberTests.d_View_Subscriber_History()[pri:0, instance:SubscriberTests.Edit_SubscriberTests@7714e963]">d_View_Subscriber_History</td> 
  <td>main@2114444063</td>   <td></td> </tr>
<tr bgcolor="c386c8">  <td>19/09/04 14:04:34</td>   <td>52833</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Edit_SubscriberTests.stop()[pri:0, instance:SubscriberTests.Edit_SubscriberTests@7714e963]">&lt;&lt;stop</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114444063</td>   <td></td> </tr>
</table>
